.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.full {
    transition: opacity 400ms ease 0ms;
    object-fit: cover !important;
    height: 660px !important
  }

.thumb {
    filter: blur(20px);
    transform: scale(1.1);
    transition: visibility 0ms ease 400ms;
    object-fit: cover !important;
    height: 660px !important
  }

  @media screen and (max-width: 768px){

    .full {
      transition: opacity 400ms ease 0ms;
      object-fit: cover !important;
      width: 300px !important;
      height: 400px !important
    }
  
  .thumb {
      filter: blur(20px);
      transform: scale(1.1);
      transition: visibility 0ms ease 400ms;
      object-fit: cover !important;
      width: 300px !important;
      height: 400px !important
    }
  
  }