.lookbook{
    background-image: url("https://img.freepik.com/free-photo/bokeh-abstract-blurred-silver-white-beautiful-background-soft-color-light-glitter-sparkles_51768-59.jpg?size=626&ext=jpg");
    /* Add the blur effect */
    background-repeat: repeat repeat;
    background-size: cover;
    filter: blur(8px);
  -webkit-filter: blur(8px);
  width:100%;
  height: 100000px;
  margin-top: 0%;
  position: absolute;
  left: 0px;
  top: 140px;
  z-index: -1;
}


.ui.button.lb-nxt,
.ui.button.lb-prv{
  border-radius: 0rem !important;
  border: 2px solid;
  background: transparent !important;
}

.ui.button.lb-nxt:hover,
.ui.button.lb-prv:hover{
  color: #008080;
}

.lb-btn-grp{
  display: flex;
	flex-direction: row;
  align-items: center;
	justify-content: center;

}